@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

html {
  width: auto;
  display: flex;
}

body {
  background-image: url(images/background-image-2.jpeg);
  background-size: 2650px;
  /* background-repeat: repeat-x; */
  text-align: center;
  font-family: "Poiret One";
  width: 100%;
}

#menu-bar {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: rgb(255, 191, 191);
  margin-top: 10px;
}

#sound-on-btn,
#sound-off-btn,
#change-character-btn,
#life3-btn,
#life4-btn,
#life5-btn,
#start-btn {
  font-size: 15px;
  /* margin: auto; */
  background-color: rgba(143, 143, 143, 0.1);
  color: black;
  padding: 4px 8px 4px 8px;
}

#sound-on-btn:hover,
#sound-off-btn:hover,
#change-character-btn:hover,
#life3-btn:hover,
#life4-btn:hover,
#life5-btn:hover,
#start-btn:hover {
  background-color: rgb(170, 1, 20);
  color: white;
}

#change-character-btn {
  margin-right: 50px;
  margin-left: 160px;
}

#life5-btn {
  margin-right: 170px;
}

#background-music-text {
  margin-left: 240px;
}

#timer {
  font-size: 25px;
  height: 28px;
}
#container {
  margin: 20px 50px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#player-container {
  width: 100px;
}

.glass-container {
  width: 1020px;
  margin-left: 50px;
  margin-right: 200px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(13, 80px);
  grid-template-rows: repeat(2, 80px);
}

.glass {
  height: 80px;
  width: 80px;
  display: flex;
  border: 1px solid gray;
}

#player {
  width: 50px;
  margin: auto;
}

.player {
  width: 50px;
  margin: auto;
}

#lives {
  margin-bottom: 100px;
  display: inline;
}

.life {
  width: 50px;
  margin: auto;
}

.soldier {
  width: 50px;
  margin: auto;
}

#soldiers {
  margin: 5px 620px 0px 620px;
  display: flex;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  margin: 8px;
  color: white;
}

h1 {
  color: white;
}

#lives-left-text {
  color: white;
}
