html {
  width: auto;
  width: 100%;
  display: flex;
}

body {
  text-align: center;
}

#left-btn {
  font-size: 20px;
  background-color: red;
  color: white;
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 5px;
}

#right-btn {
  font-size: 20px;
  background-color: green;
  color: white;
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: auto;
}

#btns {
  display: flex;
}

#container {
  margin: 20px 50px 0px 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.glass-container {
  width: 1020px;
  margin-left: 50px;
  margin-right: 200px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(13, 80px);
  grid-template-rows: repeat(2, 80px);
}

.glass {
  height: 80px;
  width: 80px;
  display: flex;
  border: 1px solid gray;
}

#player {
  width: 50px;
  margin: auto;
}

#lives {
  margin-left: 550px;
  margin-right: 550px;
  margin-bottom: 100px;
  display: flex;
}

.life {
  width: 50px;
  margin: auto;
}

.soldier {
  width: 50px;
  margin: auto;
}

#soldiers {
  margin: 30px 620px 0px 620px;
  display: flex;
}
